if has nix; then
  use flake
fi

awk '{ print "\033[32m" $0 "\033[0m" }' <<'EOF'
 _____         _    ___  ____
|_   _|____  _| |_ / _ \/ ___|
  | |/ _ \ \/ / __| | | \___ \
  | |  __/>  <| |_| |_| |___) |
  |_|\___/_/\_\\__|\___/|____/
EOF
