*.o
*.log
*.swap
*.idx

*.status_log
*.status_lock

Build
.cache

Src/Boot/MdePkg/tags
Src/Boot/MdeModulePkg/tags

Src/Boot/Conf
Src/Boot/SigmaBootPkg

Src/Utils/compile_commands.json

.vscode/settings.json
